.bg-image {
    background-image: url(../images/bus.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.header-link {
    font-size: 25px; 
    font-weight: bold;
}

.button-link {
    font-size: 15px; 
    font-weight: bold;
    text-align: right; 
    color: white;
}

.col {
    display: flex; 
    justify-content: center; 
    flex-direction: column;
}

.cut-text { 
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 300; 
    height: 1.8em; 
    white-space: nowrap;
  }