.custom-border__left {
    border-left: 4px solid #ff8400;
    padding-left: 0.8rem;
  }

  .bus-title {
    font-size: 15px;
    font-weight: bold;
  }

  .bus-date {
    font-size: 13px;
  }

  .bus-station__address {
    font-size: 15px;
  }

  .dot {
    margin-top: 5px;
    border: 2px red solid;
    border-radius: 100%;
    width: 13px;
    height: 13px;
    background-color: #fff;
    display: block;
    z-index: 2;
  }

  .dot-first {
    position: relative;
    margin-top: 5px;
    border: 2px red solid;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: #fff;
    display: block;
    z-index: 2;
  }

  .dot-first:after {
    margin-top: 13px;
    position: absolute;
    border: 2px dashed #c5c5c5;
    left: 30%;
    width: 0;
    height: 66px;
    display: block;
    content: "";
    z-index: 1;
  }

  .price-afterdot {
    font-size: 14px;
  }

  .price {
    font-size: 16px;
  }

  .summary-price {
    font-size: 20px;
  }

  .summary-price_afterdot {
    font-size: 18px;
  }