.main-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox-area {
  width: 1400px;
  margin-top: 2rem;
}

.nessessory-information {
  display: flex;
  flex-wrap: wrap;
  width: 1310px;
  margin: 2rem 0;
}

.input-destination {
  display: flex;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 10px;
  max-width: 663px;
  width: fit-content;
  align-self: flex-end;
  margin: 0 auto;
}

.passengers-amount {
  width: 277px;
  margin: 0 auto;
}

.more-results {
  height: 45px;
  width: 861px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 10px;
  margin-bottom: 2.5rem;
}

.result-set {
  height: 169px;
  width: 920px;
  background-color: white;
  border-radius: 10px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  box-shadow: 0 2px 5px gray;
  margin-bottom: 1rem;
}

.short-information {
  width: 45%;
}

.short-information-s {
  width: 30%;
}

.price-section {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 1400px) {
  .checkbox-area {
    width: 100%;
    margin-top: 2rem;
  }
}

@media (max-width: 1300px) {
  .nessessory-information {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 2rem 0;
  }
  .nessessory-information {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
  }
}

@media (max-width: 920px) {
  .more-results {
    height: 45px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 10px;
    margin-bottom: 2.5rem;
  }

  .result-set {
    height: fit-content;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    display: flex;
    padding: 1rem 1rem;
    align-items: flex-end;
    box-shadow: 0 2px 5px gray;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }

  .short-information {
    width: 100%;
  }
  
  .short-information-s {
    width: 100%;
  }
  
  .price-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}
